body { 
    /* Image Location */ 
    background-image: url("img/steve.css");
    /* Background image is centered vertically and horizontally at all times */ 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-color: #464646; 
    /* Font Colour */ 
    color:white; 
} 
